# -------- General --------
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# System Files
.DS_Store
Thumbs.db

# -------- C++ Project --------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
bin/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Configuratio files
*config.json

#Visual Studio 2017 Automatically Created Files
*.db
*.opendb
*.json
*.sqlite
*.sqlite-journal
*.suo